<h1>ここStoreのHOME画面です</h1>

<% if store_signed_in? %>

    <%= link_to 'ログアウト', destroy_store_session_path, method: :delete %>
    <%= link_to 'アカウント', store_profile_path(current_store) %>
<% else %>

    <%= link_to 'ログイン', new_store_session_path %>
    <%= link_to '新規登録', new_store_registration_path%>
    
<% end %>
