<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <p class="title">新着投稿</p>
          <div class="box">
            <% @posts.each do |post| %>
              <table class="table is-fullwidth">
                <tbody class="">
                  <tr>
                    <td class="is-centered post-td">
                      <%= link_to(post_path(post)) do %>
                          <%= image_tag post.product_img_url, class:"img image" %>
                      <% end %>
                    </td>
                    <td class="post-td">
                      <div class="has-text-centered mt-5">
                        <%= post.product_introduction %>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>
          </div>
          <div class="has-name column is-8 is-offset-2">
            <%= link_to 'もっと見る!!', posts_path, class:"button is-fullwidth" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
