<footer class="footer">
  <div class="content has-text-centered">
    <nav class="level">
      <div class="level-item has-text-centered">
        <%= link_to 'Offlyerとは' %>
      </div>
      <div class="level-item has-text-centered">
        <%= link_to '利用規約' %>
      </div>
      <div class="level-item has-text-centered">
        <%= link_to 'プライバシーポリシー' %>
      </div>
    </nav>
    <div>
      ©︎2022 Offlyer All Rights Reserved.
    </div>
  </div>
</footer>
