<footer class="footer">
  <div class="content has-text-centered">
    <nav class="level">
      <div class="level-item has-text-centered">
        <%= link_to 'Offlyerとは?', page_path('about') %>
      </div>
      <div class="level-item has-text-centered">
        <%= link_to '利用規約', page_path('terms') %>
      </div>
      <div class="level-item has-text-centered">
        <%= link_to 'プライバシーポリシー', page_path('privacy') %>
      </div>
    </nav>
    <div>
      ©︎2022 Offlyer All Rights Reserved.
    </div>
  </div>
</footer>
