<section class="hero is-warning is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="is-centered">
        <div class="is-5-tablet is-4-desktop is-3-widescreen">
          <h1 class="title">OFFlyerとは？</h1>
          <p class="mb-6">OFFlyerとは、スーパーなどの食料品店が売り切りたい「割引商品（OFF）」を、少しでも安く商品を買いたいユーザー様に、写真を投稿するだけで「電子チラシ（Flyer）」として、届けられるサービスです!!</p>
          <div class="box is-centered">
            <h1 class="subtitle">How to use??</h1>
            <div class="tabs is-fullwidth">
              <ul>
                <li class="tab active is-hoverable">
                  <a>
                    <span class="icon is-small">
                      <i class="fas fa-user" aria-hidden="true"></i>
                    </span>
                    <span>個人ユーザー様はこちら</span>
                  </a>
                </li>
                <li class="tab is-hoverable">
                  <a>
                    <span class="icon is-small">
                      <i class="fas fa-store" aria-hidden="true"></i>
                    </span>
                    <span>店舗ユーザー様はこちら</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="panel-area">
              <div class="panel active">
                <h2>ユーザー向け</h2>
              </div>
              <div class="panel">
                <h2>店舗様向け</h2>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
