/*
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400&display=swap');

body{
font-family: 'Kiwi Maru', serif;
}
.button{
font-family: 'Kiwi Maru', serif;
}
.title, .subtitle{
text-align: center;
white-space: nowrap;
}

.img{
  display: block;
  margin: auto;
  }
#map{
display: block;
margin: auto;
height: 150px;
width: 270px;
}

.notice{
  background-color: #48c78e;
  color: white;
  text-align: center;
}
.alert{
  background-color: #f14668;
  color: white;
  text-align: center;
}

#post_img{
  display: none;
}
#default_img{
  cursor: pointer;
}
#img_prev{
  display: block;
  margin: auto;
  width: 60%;
  cursor: pointer;
}
.impressions-count{
  display: flex;
  align-items: flex-end;
}
