/*
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital@1&display=swap');

body, .button{
font-family: 'Kokoro', 'Sofia Sans', sans-serif;
}
.title, .subtitle, h3{
text-align: center;
white-space: nowrap;
}
.table{
  margin: auto;
  border-bottom: 1px #4a4a4a solid;
}
.post-td{
  display: block;
  text-align: center;
}
.img{
  display: block;
  margin: auto;
  }
.product-intro{
  cursor: pointer;
}
#map{
display: block;
margin: auto;
height: 150px;
width: 270px;
}

.notice{
  background-color: #48c78e;
  color: white;
  text-align: center;
}
.alert{
  background-color: #f14668;
  color: white;
  text-align: center;
}
